* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 0 !important;
}

.style_format {
    margin-top: 10%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
} 

.style_text {
    border:1px solid rgb(2, 2, 2, 0.01);
    padding: 1em;
    cursor: pointer;
    margin-right: 1px;
}

.active {
    background-color: rgb(211, 201, 201);
}

.col:first-child {
    margin-right: auto;
    margin-bottom: 10px;
}

#formatted_area {
    min-height: 20em;
    width: 20em;
    line-break: anywhere;
    border: 1px solid rgb(165, 162, 162, .5);
    background-color: rgb(189, 186, 186, .1);
}

#formatted_area, #text_area {
    padding: 10px;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

